body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background: linear-gradient(135deg, #c9b6e4, #b1d0e0);

}
.container{
    width: 400px;
    margin: 50px auto;
    background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
}
.container:hover{
    box-shadow: 0 8px 30px rgba(0,0,0,0.25);
}
h2{
    text-align: center;
    font-size: 28px;
    margin-bottom: 25px;
}
.input-group{
    margin-right: 8px;
    
}
label{
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 10px 12px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: border 0.3s;
}
input:focus{
    border-color: #007bff;
    outline: none;
}
.error{
    color: red;
    font-size: 13px;
    margin-top: 5px;
}
.success{
    color: green;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}
#strength{
    width: 100%;
    height:10px;
    background:  #ddd;
    border-radius: 4px;
    margin-top: 5px;

}
#strength span{
    display: block;
    height: 100%;
    width: 0%;
    border-radius: 5px;
    background: transparent;
    transition: 0.3s;
}

button{
    width: 100%;
    padding: 12px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    

}
button:hover{
    background: #0056b3;
}