body{
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: rgb(192, 226, 238);
}
.title{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 20px;
    padding: 20px;

}
.gallery-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.gallery img:hover{
    transform: scale(1.05);
}

.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lightbox img{
    max-width: 80%;
    max-height: 75vh;
    object-fit: contain;
    border-radius: 10px;
}
.close-btn,
.nav-btn {
    position: absolute;
    color: white;
    font-size: 40px;
    cursor: pointer;
    user-select: none;
}
.close-btn{
    top:20px;
    right: 30px;
}
.prev-btn{
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}
.next-btn{
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}
#image-name{
    color: white;
    font-size: 22px;
    margin-top: 15px;
}